/* Start General */
html {
  height: 100%;
}
body {
  font-family: "Kalam", cursive;
  color: #555;
  margin: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5em;
}
a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #e56845;
  text-decoration: none;
  outline: none;
}
a:focus {
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Kalam", cursive;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}
p {
  font-size: 0.875em;
  margin: 0 0 10px;
  font-weight: 300;
}
p.lead {
  font-size: 18px;
  margin: 30px 0;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.page {
  position: relative;
  height: 100%;
}
input[type="submit"],
input[type="button"],
button,
a.button {
  display: inline-block;
  position: relative;
  padding: 0.8em 2em;
  margin-bottom: 0.25em;
  font-size: 0.875em;
  line-height: 1.2;
  border: 0;
  outline: 0;
  border: 2px solid #000;
  color: #000;
  text-shadow: none;
  background: 0 0;
  border-radius: 0;
  font-family: "Kalam", cursive;
}
.btn {
  border-radius: 0;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
button:hover,
button:focus,
a.button:hover,
a.button:focus {
  color: #fff;
  background-color: #000;
}
.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  opacity: 1;
  border-radius: 0;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar {
  background-color: #000;
  opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #e5e5e5;
}
.form-group {
  position: relative;
  margin: 0 0 20px;
}
.form-control,
.form-control:focus {
  height: 42px;
}
.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus {
  position: relative;
  border: 1px solid #bbb;
  border-radius: 0;
  display: block;
  font-size: 0.9em;
  margin: 0;
  padding: 10px 35px 10px 12px;
  width: 100%;
  background: 0 0;
  text-align: left;
  color: inherit;
  box-shadow: none;
  outline: none;
  font-family: "Kalam", cursive;
}
textarea.form-control,
textarea.form-control:focus {
  height: auto;
}
.form-control + .form-control-border {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000;
  height: 2px;
  transition: all 0.4s ease-in-out;
}
.form-control:focus + .form-control-border {
  left: 0;
  right: 0;
  z-index: 1;
}
.has-error .form-control + .form-control-border {
  background: #ff4c4c;
}
.form-control-icon {
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 24px;
  color: #aaa;
}
.form-control:focus + .form-control-border + .form-control-icon {
  color: #000;
}
.form-control::-moz-placeholder {
  color: #aaa;
}
.form-control:-ms-input-placeholder {
  color: #aaa;
}
.form-control::-webkit-input-placeholder {
  color: #aaa;
}
.form-group .help-block {
  position: absolute;
  display: inline-block;
  padding: 0 5px;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: -2px 0 0 10px;
  color: #fff;
  background: #ff4c4c;
}
.form-group .help-block:after {
  content: " ";
  position: absolute;
  left: 5px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid #ff4c4c;
  border-right: 10px solid transparent;
}
.form-group .help-block:empty {
  display: none;
}
.no-padding {
  padding: 0;
}
.subpage-block {
  margin-bottom: 30px;
}
.text-rotation {
  display: block;
}
.border-block-top-40 {
  display: inline-block;
  position: absolute;
  background: 0 0;
  width: 40px;
  height: 40px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  left: 0;
  top: 0;
  z-index: 0;
}
.border-block-bottom-40 {
  display: inline-block;
  position: absolute;
  background: 0 0;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.border-block-bottom-60 {
  display: inline-block;
  position: absolute;
  background: 0 0;
  width: 60px;
  height: 60px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.border-block-top-110 {
  display: inline-block;
  position: absolute;
  background: 0 0;
  width: 110px;
  height: 110px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  left: 20px;
  top: 10px;
  z-index: 0;
}
.no-js .preloading {
  display: none;
}
/* End General */

/* Start Pre-Loading */
#preloading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  overflow: hidden;
}
.no-js #preloading {
  display: none;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  animation: spin 1.7s linear infinite;
  z-index: 12;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  animation: spin-reverse 0.6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#preloading .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #000;
  z-index: 11;
}

#preloading .loader-section.section-left {
  left: 0;
}

#preloading .loader-section.section-right {
  right: 0;
}

.loaded #preloading .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloading .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #preloading {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
/* End Pre-Loading */

/* Start Main Page */
.pt-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 25px 5%;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.subpages {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1240px;
  perspective: 1500px;
  backface-visibility: hidden;
}
.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: auto;
  padding: 10px 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  box-shadow: 0 1px 33px rgba(0, 0, 0, 0.15);
}
.pt-page .section-inner {
  position: relative;
  padding: 20px 60px 50px;
}
.no-js .pt-page {
  position: relative;
}
.pt-page-content {
  position: absolute;
  width: 100%;
}
.pt-page-current,
.no-js .pt-page {
  visibility: visible;
  z-index: 90;
  opacity: 1;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

.no-js .pt-page * {
  height: auto;
}
.no-js body {
  overflow: auto;
}
.section-with-bg {
  backface-visibility: hidden;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
}
.section-without-bg {
  background: 0 0;
  box-shadow: none;
}
.section-paddings-0 {
  padding: 0;
}
.header {
  position: fixed;
  width: 150px;
  height: 100%;
  background-color: #000;
  overflow: auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
  z-index: 10;
}
.my-photo {
  position: relative;
  margin: 50px auto 20px;
  max-width: 100px;
  text-align: center;
  z-index: 0;
}
.header .my-photo .border-block-bottom-40 {
  border-color: #fff;
}
.my-photo img {
  position: relative;
  transform: rotate(20deg);
  border-radius: 50%;
}
.site-title-block {
  position: relative;
  z-index: 1;
  margin: 15px 20px 5px;
  text-align: center;
}
.site-title {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
}
p.site-description {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 300;
  font-family: "Kalam", cursive;
  margin: 5px 0;
}

/* Start Main */
.site-main {
  height: 100%;
  margin-left: 150px;
  position: relative;
  background-color: #fff;
}
.site-nav {
  display: block;
  padding: 25px 0 30px;
}
.site-main-menu {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Kalam", cursive;
}
.site-main-menu li {
  display: block;
  position: relative;
  padding: 0;
  text-align: center;
}
.site-main-menu li a,
.site-main-menu li a:hover {
  display: block;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.site-main-menu li:first-child a {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
.site-main-menu li a:hover,
.site-main-menu li.active a {
  background-color: #222;
  opacity: 1;
}
.site-main-menu li a:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 0;
  height: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.site-main-menu li a:hover:after,
.site-main-menu li.active a:after {
  width: 100%;
  opacity: 0.1;
}
.menu-icon {
  display: block;
  font-size: 21px;
  margin-bottom: 3px;
  text-align: center;
}
.section-title-block {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}
.section-title-wrapper {
  display: inline-block;
  position: relative;
  text-align: right;
}
.section-title {
  display: block;
  width: 100%;
  position: relative;
  margin: 12px 0 0;
  font-size: 60px;
  line-height: 1.1em;
  color: #000;
  z-index: 1;
}
.section-description {
  display: inline-block;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #000;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  z-index: 2;
}
.block-title h3 {
  display: inline-block;
  position: relative;
  margin: 0 0 20px;
  padding: 0;
}
.block-title h3:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -10px;
  bottom: 0;
  background-color: #000;
}
.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
.table-v-align,
.table > div {
  display: table-cell;
  vertical-align: middle;
}

.page-ajax-loaded {
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
.page-ajax-loaded:empty {
  display: none !important;
}
.ajax-page-content {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.ajax-page-wrapper {
  padding: 20px 60px 30px;
}
.ajax-page-nav {
  text-align: center;
}
.ajax-page-nav > div.nav-item {
  position: relative;
  display: inline-block;
  margin: 0 3px;
}
.ajax-page-nav > div.nav-item a {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #888;
}
.ajax-page-nav > div.nav-item a:hover {
  color: #000;
}
.ajax-page-nav > div.nav-item a i {
  line-height: 30px;
  font-size: 30px;
}
.ajax-page-title {
  padding-top: 10px;
  text-align: center;
}
.ajax-page-title h1 {
  display: inline-block;
  margin: 0;
}
.ajax-page-page-content img {
  max-width: 100%;
}

/* Start Home */
.home-page-block {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
  padding-left: 380px;
  padding-bottom: 100px;
}
.home-page-block h2 {
  color: whitesmoke;
  text-align: center;
  font-size: 70px;
  margin: 0;
}
.home-page-description {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 700;
  font-family: "Kalam", cursive;
  margin: 0 0 10px;
  text-align: center;
}
/* End Home */

/* Start About Me */
.my-photo-block {
  position: relative;
}
.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.info-list li {
  padding: 5px 0;
  font-size: 14px;
}
.info-list li:first-child {
  padding-top: 0;
}
.info-list li .title {
  display: inline-block;
  font-family: "Kalam", cursive;
  font-weight: 700;
  margin-right: 12px;
  color: #000;
}
.info-list li .title:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -3px;
  background-color: #000;
}
.info-list li .value {
  font-family: "Kalam", cursive;
  min-width: 250px;
}
/* End About Me */

/* Start Resume */
.timeline {
  position: relative;
  border-left: 1px solid #f5f5f5;
  padding-bottom: 10px;
}
.timeline-event {
  position: relative;
  padding-left: 20px;
  padding-bottom: 20px;
}
.timeline-event:last-child {
  padding-bottom: 0;
}
.timeline-event > * {
  display: block;
}
.event-date {
  display: inline-block;
  position: relative;
  color: #fff;
  font-weight: 300;
  line-height: 1.1em;
  margin: 0 0 3px;
  background-color: #000;
  padding: 5px 8px 5px 20px;
  margin-left: -20px;
}
.event-date .event-icon {
  display: inline-block;
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: #fff;
  z-index: 1;
  height: 26px;
  width: 26px;
  text-align: center;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.event-date .event-icon i {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: #000;
}
.event-name {
  margin: 10px 0 0;
}
/* End Resume */

/* Start Skills */
.skills-info {
  margin-bottom: 30px;
}
.skills-info h4 {
  font-size: 0.8em;
  line-height: 1.1em;
  position: relative;
  margin: 0 0 5px;
}
.skill-container {
  display: flex;
  padding-top: 12px;
}
.skill-content p{
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}
.skill-block {
  width: 60px;
  height: 60px;
  /* border: 4px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.skill-block img {
  max-width: 100%;
  max-height: 100%;
  padding: 8px;
}
.skill-block:hover {
  cursor: pointer;
  animation-name: bounce;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
/* End Skills */

/* Start Portfolio */
.portfolio-title {
  text-align: center;
}
.portfolio-title a {
  display: inline-block;
  width: 30%;
  height: 30vh;
  position: relative;
  padding: 5px 0;
}
.portfolio-title a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.portfolio-title a:before,
.portfolio-title a:after {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.portfolio-title a:before {
  content: "";
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.portfolio-title a:after {
  content: attr(data-title);
  font-size: 24px;
  top: calc(50% - 0.5em);
  left: 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}
.portfolio-title a:hover:before,
.portfolio-title a:hover:after {
  opacity: 1;
}
.content-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 20px;
  z-index: 9999;
  overflow: auto;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.contain {
  margin: 20px 0px;
  width: 50%;
}
.portfolio-content h4 {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
}
.item-carousel {
  align-items: center;
  background-color: tomato;
  color: white;
  display: flex;
  height: 400px;
  width: 100%;

  justify-content: center;
}
.item-carousel img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
/* End Portfolio */

/* Start Contact */
.contact-info-block {
  position: relative;
  text-align: left;
  width: 100%;
  display: block;
  margin: 0;
  padding: 10px 10px 10px 0;
}
.contact-info-block:last-child {
  margin-bottom: 30px;
}
.contact-info-block .ci-icon {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.ci-text {
  position: relative;
  padding-left: 50px;
}
.contact-info-block h5 {
  margin: 5px 0;
}
.contact-info-block .pe-7s-icon {
  position: relative;
  font-size: 30px;
  color: #000;
}
/* End Contact */
